﻿<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Agenda</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Parâmetros </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">-------</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">--------</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sobre </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Versão</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Autores</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Ajuda </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Cadastrar</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Relatorios</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Administrador <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a onclick="deslogar()" href="#"><i class="fa fa-fw fa-power-off"></i> Sair...</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="~/Inicio/Index"><i class="fa fa-fw fa-dashboard"></i> Início</a>
                </li>
                <li class="active">
                    <a href="~/Agenda/Index"><i class="fa fa-fw fa-table"></i> Agenda</a>
                </li>
                <li>
                    <a href="~/CadastroCliente/Index"><i class="fa fa-fw fa-edit"></i> Cadastro de Pacientes</a>
                </li>
                <li>
                    <a href="~/FilaEspera/Index"><i class="fa fa-fw fa-edit"></i> Fila de Espera</a>
                </li>
                <li class="dropdown">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Relatórios<b class="caret"></b></a>*@
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Paciente</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Lista Espera</a>
                        </li>
                        <!--<li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair...</a>
                        </li>-->
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Agenda
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i> Agenda
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-lg">Inserir</button>

                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content container">
                                    <div>
                                        <br />
                                        <label>Buscar Clientes</label>
                                        <br />
                                        <label class="radio-inline">
                                            <input type="radio" name="rbtBuscaCpfNome" id="radioCpf" value="CPF">CPF
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rbtBuscaCpfNome" id="radioNome" value="Nome">Nome
                                        </label>

                                        <input id="buscarPorNomeOuCpf" class="form-control" placeholder="Nome ou CPF" />

                                        <div id="dadosAgendamento" style="display: none;">
                                            <b><p id="pacienteAgendamento"></p></b>
                                            
                                            <label>Data Agendamento</label>
                                            <input id="txtDataAgendamento" type="datetime-local" class="form-control" />
                                        </div>

                                        @* Realizar busca de cliente *@
                                        <button type="button" id="btnBuscarAgendamento" class="btn btn-default dropdown-toggle">Buscar</button>
                                        <button type="button" id="btnAgendarConsulta" class="btn btn-default dropdown-toggle" disabled>Agendar</button>
                                        <button type="button" style="float:right !important;" class="btn btn-default" data-dismiss="modal">Fechar</button>

                                        @* selecionar cliente buscado *@



                                        <br />
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>

                        @*<button type="button" class="btn btn-default dropdown-toggle">Editar</button>
                            <button type="button" class="btn btn-default dropdown-toggle">Localizar</button>
                            <button type="button" class="btn btn-default dropdown-toggle">Apagar</button>*@
                    </div>
                </div>
            </div>


            <!-- /.row -->
            <div id="list" class="row">
                <div class="col-lg-12 col-md-12">
                    <h2>Agenda de Atendimento</h2>

                    <div class="table-responsive">
                        <table id="tblAgendamento" class="table table-striped" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Paciente</th>
                                    <th>Data agendamento</th>
                                    @*<th>Atendente</th>*@
                                    <th class="actions">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                        <td>Fulano</td>
                                        <td>01/01/2017</td>
                                        <td>12:00</td>
                                        <td>Ciclano</td>
                                        <td class="actions">
                                            <a class="btn btn-warning btn-xs" >Salvar</a>
                                            <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Fulano</td>
                                        <td>01/01/2017</td>
                                        <td>12:00</td>
                                        <td>Ciclano</td>
                                        <td class="actions">
                                            <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>


<script>
    $(document).ready(function () {
        adicionarEventosViewAgendamento();
    });
</script>