﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Clínica Escola FAP</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles.css");
    @Styles.Render("~/content/morris.css")
    @Styles.Render("~/content/sb-admin.css")
</head>
<body>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="modalMensagem" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="tituloModal" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="msgModal"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loading-gif"></div>

    @RenderBody()

    @{
        if (Session["UsuarioLogado"] == null && HttpContext.Current.Request.RawUrl != "/Login/Index")
        {
            Response.Redirect("~/Login/Index");
        }
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/morris")
    @Scripts.Render("~/bundles/morris-data")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/content/font-awesome.min.css")*@
    @Scripts.Render("~/Scripts/scripts.js");
    @RenderSection("scripts", required: false)
</body>
</html>