﻿<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Cadastro de Pacientes</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Parâmetros </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">------</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">--------</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sobre </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Versão</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Autores</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Ajuda </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Cadastrar</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Relatorios</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Bem vindo @Session["UsuarioLogado"].ToString()<b class="caret"></b></a>*@
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a onclick="deslogar()" href="#"><i class="fa fa-fw fa-power-off"></i> Sair...</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="~/Inicio/Index"><i class="fa fa-fw fa-dashboard"></i> Início</a>
                </li>
                <li>
                    <a href="~/Agenda/Index"><i class="fa fa-fw fa-table"></i> Agenda</a>
                </li>
                <li class="active">
                    <a href="~/CadastroCliente/Index"><i class="fa fa-fw fa-edit"></i> Cadastro de Pacientes</a>
                </li>
                <li>
                    <a href="~/FilaEspera/Index"><i class="fa fa-fw fa-edit"></i> Fila de Espera</a>
                </li>
                <li class="dropdown">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Relatórios<b class="caret"></b></a>*@
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Paciente</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Lista Espera</a>
                        </li>
                        <!--<li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair...</a>
                        </li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Cadastro de Pacientes
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> <a href="index.html"> Início</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Cadastro de Pacientes
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">

                    @* formulário onde o usuario informa o que deseja fazer (Inserir novo cadastro ou Editar um existente
                        ao escolher editar, ele tem a possibilidade de excluir um cadastro existente) *@
                    <form role="form" class="navbar-form">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-6">
                                <div class="btn-group btn-group-lg">
                                    <button type="button" id="btnInserir" class="btn btn-default dropdown-toggle">Inserir</button>
                                    <button type="button" id="btnEditar" class="btn btn-default dropdown-toggle">Editar</button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </form>

                    @* Formulário para pesquisar cadastro a ser editado *@
                    <div id="divBuscaCliente" class="div-invisivel">
                        <form role="form" class="navbar-form" style="border: 1px solid #CCC;">
                            <div class="row">

                                <div class="col-lg-3">
                                    <br /><br />
                                    <label>Buscar Por</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInlineBusca" id="radioCpf" value="CPF" disabled>CPF
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInlineBusca" id="radioNome" value="Nome" disabled>Nome
                                    </label>
                                </div>
                                <div class="col-lg-5">
                                    <label>Buscar Clientes</label>
                                    <input id="inpBuscarNomeouCpf" class="form-control" disabled />
                                </div>
                                <div class="col-lg-1">
                                    <br />
                                    <button type="button" id="btnBuscarNomeouCpf" class="btn btn-default dropdown-toggle" disabled>Buscar</button>
                                </div>
                            </div>
                            <br /><br />
                        </form>
                    </div>
                    <br /><br />


                    @* Formulário de preenchimento de cadastro de cliente *@
                    <div id="divInserirCliente">
                        <form role="form" class="navbar-form" style="border: 1px solid #CCC;" method="post">
                            <fieldset>
                                <legend>Cadastro de Pacientes</legend>
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label>Código</label>
                                        <input id="inpCodigo" type="number" class="form-control" placeholder="Código" disabled>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>CPF</label>
                                        <input id="inpCpf" validar="CPF" type="text" class="form-control" name="CPF" placeholder="CPF" disabled maxlength="14" pattern="[0-9]{11}">
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label>Nome</label>
                                        <input id="inpNome" validar="Nome" class="form-control" name="nome" placeholder="Digite o nome do paciente" disabled>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group col-lg-5">
                                        <label for="ddlSexo">Sexo</label>
                                        <select id="ddlSexo" name="ddlSexo" class="form-control" disabled>
                                            <option value=""></option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Feminino">Feminino</option>
                                            <option value="NaoDeclarado">Não Declarado</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-2"></div>

                                    <div class="form-group col-lg-5">
                                        <label>Data de Nascimento</label>
                                        <input id="inpDataNascimento" validar="Data de nascimento" type="date" class="form-control" disabled>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group col-lg-2">
                                        <label>Cep</label>
                                        <input id="inpCep" validar="CEP" maxlength="10" type="text" class="form-control" placeholder="Digite o cep" disabled>
                                    </div>

                                    <div class="form-group col-lg-5">
                                        <label>Endereço</label>
                                        <input id="inpEndereco" validar="Endereço" class="form-control" placeholder="Rua / Avenida" disabled>
                                    </div>

                                    @*<div class="form-group col-lg-2">
                                        <label>Bairro</label>
                                        <input id="inpBairro" class="form-control" placeholder="Bairro" disabled>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>UF</label>
                                        <select validar="UF" id="selectUf" class="form-control" disabled></select>
                                    </div>*@
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label>UF</label>
                                        <select validar="UF" id="selectUf" class="form-control" onchange="popularDropDownCidade()" disabled></select>
                                    </div>
                                    
                                    <div class="form-group col-lg-3">
                                        <label>Cidade</label>
                                        <select id="ddlCidade" class="form-control" placeholder="Cidade" disabled>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Bairro</label>
                                        <input id="inpBairro" class="form-control" placeholder="Bairro" disabled>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label>Telefone</label>
                                        <input id="inpTelefoneFixo" maxlength="13" type="text" class="form-control" placeholder="Telefone fixo" disabled>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Celular</label>
                                        <input id="inpTelefoneCelular" maxlength="14" type="text" class="form-control" placeholder="Telefone celular" disabled>

                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label>Email</label>
                                        <input id="inpEmail" type="email" required class="form-control" placeholder="email@email.com" disabled>
                                    </div>
                                </div>
                                <br /><br />
                            </fieldset>
                        </form>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="button" id="btnSalvar" class="btn btn-default dropdown-toggle">Salvar</button>
                                <button type="button" id="btnCancelar" class="btn btn-default dropdown-toggle" onclick="limparCamposDiv('divInserirCliente');">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $('#btnSalvar').on('click', function () {
        if ($('#divBuscaCliente').css('display') == 'none') {
            validarObrigatorios(SalvarCliente);
        }
        else {
            validarObrigatorios(AlterarCliente);
        }
    });

    // função para habilitar campos para buscar cadastro
    $(function () {
        $('#btnEditar').click(function () {

            // habilita os campos EDITAR
            $("#radioCpf").prop("disabled", false);
            $("#radioNome").prop("disabled", false);
            $("#btnBuscarNomeouCpf").prop("disabled", false);

            //Desabilita os campos INSERIR
            $("#inpCpf").prop("disabled", true);
            $("#inpNome").prop("disabled", true);
            $("#ddlSexo").prop("disabled", true);
            $("#inpDataNascimento").prop("disabled", true);
            $("#inpCep").prop("disabled", true);
            $("#inpEndereco").prop("disabled", true);
            $("#inpBairro").prop("disabled", true);
            $("#selectUf").prop("disabled", true);
            $("#inpTelefoneFixo").prop("disabled", true);
            $("#inpTelefoneCelular").prop("disabled", true);
            $("#inpEmail").prop("disabled", true);
        });
    });

    $(function () {
        $('#btnInserir').click(function () {
            // habilita os campos INSERIR
            $("#inpCpf").prop("disabled", false);
            $("#inpNome").prop("disabled", false);
            $("#ddlSexo").prop("disabled", false);
            $("#inpDataNascimento").prop("disabled", false);
            $("#inpCep").prop("disabled", false);
            $("#inpEndereco").prop("disabled", false);
            $("#inpBairro").prop("disabled", false);
            $("#selectUf").prop("disabled", false);
            $("#inpTelefoneFixo").prop("disabled", false);
            $("#inpTelefoneCelular").prop("disabled", false);
            $("#inpEmail").prop("disabled", false);

            // desabilita os campos do EDITAR
            $("#inpBuscarNomeouCpf").prop("disabled", true);
            $("#radioCpf").prop("disabled", true);
            $("#radioNome").prop("disabled", true);
            $("#btnBuscarNomeouCpf").prop("disabled", true);

        });
    });

    function AlterarCliente() {
        var cpf = document.getElementById("inpCpf").value;
        var nome = document.getElementById("inpNome").value;
        var sexo = document.getElementById("ddlSexo").value;
        var dataNascimento = document.getElementById("inpDataNascimento").value;
        var cep = document.getElementById("inpCep").value;
        var endereco = document.getElementById("inpEndereco").value;
        var bairro = document.getElementById("inpBairro").value;
        var uf = document.getElementById("selectUf").value;
        var telefoneFixo = document.getElementById("inpTelefoneFixo").value;
        var telefoneCelular = document.getElementById("inpTelefoneCelular").value;
        var email = document.getElementById("inpEmail").value;

        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("AlterarPaciente", "CadastroCliente")',
                data: {
                    Nome: nome,
                    TelefoneFixo: telefoneFixo,
                    TelefoneCelular: telefoneCelular,
                    Email: email,
                    CPF: cpf,
                    Sexo: sexo,
                    Endereco: endereco,
                    Bairro: bairro,
                    CEP: cep,
                    Estado: uf,
                    DataNascimento: dataNascimento
                },

                success: function (data) {
                    if (data != null && data != undefined) {
                        $("#inpCodigo").val(data.PacienteID);
                        exibirModal('Informação', 'Dados atualizados com sucesso.');
                    }
                    else {
                        exibirModal('Informação', data);
                    }

                }
            });
    }

    //enviando dados para cadastro de cliente
    function SalvarCliente() {

        var codigo = document.getElementById("inpCodigo").value;
        var cpf = document.getElementById("inpCpf").value;
        var nome = document.getElementById("inpNome").value;
        var sexo = document.getElementById("ddlSexo").value;
        var dataNascimento = document.getElementById("inpDataNascimento").value;
        var cep = document.getElementById("inpCep").value;
        var endereco = document.getElementById("inpEndereco").value;
        var bairro = document.getElementById("inpBairro").value;
        var uf = document.getElementById("selectUf").value;
        var telefoneFixo = document.getElementById("inpTelefoneFixo").value;
        var telefoneCelular = document.getElementById("inpTelefoneCelular").value;
        var email = document.getElementById("inpEmail").value;

        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("CadastrarCliente", "CadastroCliente")',
                data: {
                    Nome: nome,
                    TelefoneFixo: telefoneFixo,
                    TelefoneCelular: telefoneCelular,
                    Email: email,
                    CPF: cpf,
                    RG: null,
                    Sexo: sexo,
                    EstadoCivil: null,
                    QuantidadeFilhos: null,
                    Escolaridade: null,
                    Profissao: null,
                    DescricaoConhecimentoClinica: null,
                    InstituicaoEncaminhamento: null,
                    CursoFAPBetim: null,
                    Endereco: endereco,
                    Bairro: bairro,
                    CEP: cep,
                    Estado: uf,
                    DataNascimento: dataNascimento
                },

                success: function (data) {
                    $("#inpCodigo").val(data.PacienteID);
                    exibirModal('Informação', 'Dados atualizados com sucesso.');
                }
            });
    }

    function popularDropDown() {
        $.ajax({
            type: 'GET',
            url: '/CadastroCliente/PreencherDropDown',
            data: { aXML: 'Estados' },

            success: function (data) {
                $.each(data, function (index, item) {
                    $('#selectUf').append($('<option value="' + item.Value + '"></option>').text(item.Text));
                });
            }
        });
    }

    function popularDropDownCidade() {
        $.ajax({
            type: 'GET',
            url: '/CadastroCliente/PreencherDropDownCidade',
            data: { aIDEstado: $('#selectUf').val() },

            success: function (data) {
                $.each(data, function (index, item) {
                    $('#ddlCidade').append($('<option value="' + item.Value + '"></option>').text(item.Text));
                });
            }
        });
    }

    $(document).ready(function () {
        exibirPainelCadastro();
        adicionarEventos();
        popularDropDown();
    });
</script>