﻿<div class="container">
   <div class="col-md-4"></div>

    <div class="col-md-4 " style="margin-top: 10%;">
        <form class="form-signin" action="~/Login/ValidarLogin" method="post">
            <h2 class="form-signin-heading" style="color: white">Clínica Escola - WPLS</h2>

            <label for="inputUsuario" class="sr-only">Usuario</label>
            <input type="text" id="inputUsuario" name="inputUsuario" class="form-control" placeholder="Usuario" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Senha" required>

            <input type="submit" class="btn btn-lg btn-primary btn-block btn-danger" value="Entrar">
            <div>
                <p id="msgValidacaoLogin"></p>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>