﻿<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Clinica Escola</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Parâmetros </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">-------</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">----</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sobre </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Versão</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Autores</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Ajuda </a>*@
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Cadastrar</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Relatorios</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Administrador <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a onclick="deslogar()" href="#"><i class="fa fa-fw fa-power-off"></i> Sair...</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="~/Inicio/Index"><i class="fa fa-fw fa-dashboard"></i> Início</a>
                </li>
                <li>
                    <a href="~/Agenda/Index"><i class="fa fa-fw fa-table"></i> Agenda</a>
                </li>
                <li>
                    <a href="~/CadastroCliente/Index"><i class="fa fa-fw fa-edit"></i> Cadastro de Pacientes</a>
                </li>
                <li>
                    <a href="~/FilaEspera/Index"><i class="fa fa-fw fa-edit"></i> Fila de Espera</a>
                </li>
                <li class="dropdown">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Relatórios <b class="caret"></b></a>*@
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Paciente</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Lista Espera</a>
                        </li>
                        <!--<li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair...</a>
                        </li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Início
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i> Início
                        </li>

                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <img src="~/Imagens/ClinicaEscola.png" />
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>